---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header title={SITE_TITLE} />
<main>
  <h1>Welcome</h1>

  <p>
    This is my personal space on the internet! Have fun poking around and I hope
    you get something useful in return.
  </p>
  <p>
    You can reach me with one of the methods in the <a href="/contacts">contacts section</a>.
  </p>

  <h2>Licenses</h2>
  <p>
    The <a href="https://github.com/anvouk/andreavouk.com">source code of this website</a>
    is under the <a href="https://www.gnu.org/licenses/gpl-3.0.txt">GPL-3.0</a> license,
    the blog's content is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.
  </p>

</main>
<Footer />
</body>
</html>
