---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead isArticle=false title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header title={SITE_TITLE} />
<main>
  <div class="d-flex flex-column align-items-center pt-4">
    <h1>Welcome</h1>
    <div class="col-10 mt-4">
      <p style="text-align: center">
        Hi, welcome to my little place on the internet.
      </p>
    </div>
  </div>

</main>
<div id="footer">
  <Footer />
</div>
</body>
</html>

<style>
  #footer {
    clear: bottom;
    position: relative;
    margin-top: 10em;
  }
</style>
