---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead isArticle=false title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
<Header title={SITE_TITLE} />
<main>
  <h1>Welcome</h1>

  <p>
    Hi, welcome to my little place on the internet.
  </p>
  <p>
    There's not much to see right now but I have more content planned.
  </p>

</main>
<div id="footer">
  <Footer />
</div>
</body>
</html>

<style>
  #footer {
    clear: bottom;
    position: relative;
    margin-top: 10em;
  }
</style>
