---
import HeaderLink from "./HeaderLink.astro";
---

<header class="mb-4">
  <nav class="d-flex flex-wrap justify-content-between">
    <div>
      <span class="me-1"><HeaderLink href="/" label="home">/home</HeaderLink></span>
      <span class="me-1"><HeaderLink href="/blog" label="blog">/blog</HeaderLink></span>
      <span class="me-1"><HeaderLink href="/about" label="about">/about</HeaderLink></span>
      <span class="me-3"><HeaderLink href="/contacts" label="contacts">/contacts</HeaderLink></span>
    </div>
    <div>
      <span class="me-1"><HeaderLink class="bi bi-key-fill" href="/publickey.txt" label="public pgp key"></HeaderLink></span>
      <span><HeaderLink class="bi bi-rss-fill" href="/rss.xml" label="rss feeds"></HeaderLink></span>
    </div>
  </nav>
</header>
