---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div>
      <HeaderLink href="/">Home</HeaderLink>|
      <HeaderLink href="/blog">Blog</HeaderLink>|
      <HeaderLink href="/about">About</HeaderLink>|
      <HeaderLink href="/contacts">Contacts</HeaderLink>
    </div>
    <div>
      <HeaderLink class="bi bi-key-fill" href="/publickey.txt" aria-label="PGP key"></HeaderLink>
      <HeaderLink class="bi bi-rss-fill" href="/rss.xml" aria-label="RSS feeds"></HeaderLink>
    </div>
  </nav>
</header>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header {
    margin: 0em 0 2em;
  }

  h2 {
    margin: 0.5em 0;
  }
</style>
