---
const { href, label, class: className } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} aria-label={label} class:list={[className, { active: isActive }]}>
  <slot />
</a>

<style>
  a {
    font-size: var(--default-font-size);
    display: inline-block;
    text-decoration: none;
    font-style: italic;
  }

  a.active {
    font-weight: bolder;
  }
</style>
