---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

export interface Props {
  content: {
    title: string;
    description: string;
  };
}

const {
  content: { title, description },
} = Astro.props;
---

<html lang="en">
<head>
  <BaseHead isArticle=false title={title} description={description} />
</head>

<body>
<Header />
<main>
  <article>
    <slot />
  </article>
</main>
</body>
</html>
